<section [class]="location?.current?.condition?.text" class="area" *ngIf="location?.current?.condition?.text"
	[routerLink]="['/location', location?.location.name]" [title]="location?.location.name">
	<div>
		<section>
			{{location?.location.name}}
			<section class="time">{{timeConverter(location?.location.localtime)}}</section>
		</section>

		<section>{{convertToF(location?.current.temp_c)}}<span *ngIf="isMetric">&#8451;</span>
			<span *ngIf="!isMetric">&#8457;</span>
		</section>
	</div>
	<div>
		<section class="">{{location?.current?.condition?.text}}</section>
		<span class="favorite" (click)="addLocation($event)">star</span>
	</div>

</section>