<section *ngIf="!weatherService.loadingData" class="new-location">
	<location-data [location]="weatherService.searchData"></location-data>
</section>

<section *ngIf="weatherService.searchData?.error" class="error">
	Could not get Location
</section>

<!-- <section *ngIf="!weatherService.loadingData" class="locations">
	<div *ngFor="let location of locations; trackBy:location">
		<location-data [location]="location"></location-data>
	</div>
</section> -->
<section *ngIf="!weatherService.loadingData" class="locations">
	<div *ngFor="let location of locations; trackBy:trackByFn">
		<location-data [location]="location"></location-data>
	</div>
</section>