<section>
	<p>Measurement system:</p>
	<div>Example:
		<span *ngIf="isMetric">20&#8451;</span>
		<span *ngIf="!isMetric">68&#8457;</span>
	</div>

	<label for="weather">
		<input type="radio" name="degree" id="weather" value="true" [(ngModel)]="isMetric">
		Celsius
	</label>

	<label for="weather1">
		<input type="radio" name="degree" id="weather1" value="" [(ngModel)]="isMetric">
		Fahrenheit
	</label>

	<button (click)="isClicked()">Save</button>
</section>

<section>
	<a (click)="back()">Back</a>
</section>