// Colors

$clr1: #FFFFFF;
$clr2: #F6F1F1;
$clr3: #0099ff;
$clr4: #146C94;
$clr5: #1a1a1a;
$clr5-dark: #141414;
$clr6: #000000;


// Mobile Margin
$m-margin: 15px;


// Breakpoints
$narrow-breakpoint: 720px;
$normal-breakpoint: 800px;